$solid-grey: #e5e5e5;

.slides {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
}

.slide {
    &-box {
        background: #ffffff;
        border: .1rem solid $solid-grey;

        &-index {
            text-transform: capitalize;
            padding: 2.4rem 3rem;
            font-size: 2rem;
            line-height: 3rem;
            font-weight: 500;
            border-bottom: .1rem solid #e5e5e5;
        }

        &-params {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            padding: 3rem;

            & * {
                color: #365BA7;
            }

            &-image {
                width: 100%;
                max-width: 30rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: .1rem solid #8A98AC;
                text-align: center;

                &.active {
                    border-radius: .4rem;
                    padding: 2.4rem;
                    background: $solid-grey;
                }

                & img[data-size] {
                    width: 100%;
                    height: 100%;
                    max-width: 11.6rem;
                    max-height: 11.6rem;
                    object-fit: cover;
                }

            }

            &-icon {
                width: 2rem;
                height: 2rem;
            }

            &-instruction {
                color: #00000054;
                margin: .8rem auto 2.5rem;

                & span {
                    color: #00000054;
                    text-decoration: underline;
                }

                &.red {
                    color: red;
                }
            }

            &-format {
                color: #00000054;
            }

            &-text {
                font-size: 1.7rem;
                line-height: 120%;
                font-weight: 600;
                color: #365BA7;
                background: unset;
                border: .1rem solid #365BA7;
                padding: 1.5rem 0;
                max-width: 36.5rem;
                width: 100%;
                border-radius: .4rem;

                &:hover {
                    background: #365BA7;
                    color: #ffffff;
                    cursor: pointer;
                }
            }

            &-button {
                max-width: 36.5rem;
                width: 100%;
                padding: 1.5rem 0;
                background: unset;
                border: .1rem solid #365BA7;
                border-radius: .4rem;

                &.active {
                    background: unset;
                    border-radius: .4rem;
                    border: unset;
                    padding: 0;
                }

                & input {
                    background-color: unset;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    outline: none;
                    border: unset;
                    font-size: 1.7rem;
                    line-height: 120%;
                    font-weight: 600;

                    &::placeholder {
                        color: #365BA7;
                        font-size: 1.7rem;
                        line-height: 120%;
                        font-weight: 600;
                    }
                }
            }
        }

    }

    &-button {
        background: #FFA80020;
        border: unset;
        border-radius: .4rem;
        max-width: 30rem;
        width: 100%;
        font-size: 1.5rem;
        line-height: 130%;
        font-weight: 400;
        padding: 1.1rem 0;
        color: #FFA800;
    }
}