.mail {
    &-container {
        display: flex;
        align-items: flex-start;
        gap: 3.2rem;
    }

    &-section {
        width: 100%;
    }

    &-favorite {
        display: flex;
        align-items: center;
        width: 100%;
        gap: .8rem;
        padding: 2.4rem;
        border-radius: .4rem;
        border: .1rem solid #e5e5e5;
        width: 100%;

        & img {
            width: 1.8rem;
            height: 1.8rem;
        }

        &-heading {
            font-size: 1.4rem;
            line-height: 1.8rem;
            padding-top: .2rem;
        }
    }

    &-content {
        margin-top: 3.2rem;
        padding: 2.4rem;
        border: .1rem solid #e5e5e5;
    }

    &-params {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-user {
        &-data {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .4rem;

            &-text {
                font-size: 1.6rem;
                line-height: 3.2rem;
                font-weight: 500;
            }
        }

        &-date {
            font-size: 1.8rem;
            color: #6F7375;
        }
    }

    &-message {
        margin-top: 2.4rem;
        padding: 2.4rem;
        padding-bottom: 7.2rem;
        border: .1rem solid #e5e5e5;
        border-radius: .4rem;

        & * {
            color: #344054;
        }

        &.reply {
            padding: 0;
            border: unset;

            & textarea {
                resize: none;
                width: 100%;
                height: 100%;
                border: .1rem solid #e5e5e5;
                background: unset;
                padding: 2.4rem;
                font-family: inherit;
                outline: unset;
            }

            & .reply-span {
                display: flex;
                align-items: center;
                gap: .8rem;
                margin-bottom: 2rem;
            }
        }
    }

    &-send {
        background: #E2F0FD;
        color: #0054FF;
        border: unset;
        border-radius: .4rem;
        width: 23rem;
        height: 4rem;
        margin-top: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
        transition: 300ms;
        overflow: hidden;
        height: 4.6rem;
        transition: 1s;
        transition-behavior: smooth;

        & span {
            width: 100%;
        }

        & .sub-menu {
            width: 100%;

            &-item {
                &.active a {
                    color: #0054FF;
                }
            }
        }

        & a {
            padding-left: 2.8rem;
            width: 100%;

            & .route-exact-link-active {
                color: #0054FF;
                background: #cce5fd;
            }
        }

        &:hover {
            height: 100%;
            overflow: visible;

            & .mail-tick {
                transform: rotate(0);
            }
        }
    }
}