.hst {
    &-container {
        display: flex;
        flex-direction: column;
        border: .1rem solid #e5e5e5;
    }

    &-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2.4rem;

        & * {
            font-weight: 500;
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
        padding: 2.4rem;
        padding-top: unset;
    }

    &-item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .935rem 0;

        & * {
            color: #000000DE;
        }

        &-info {
            display: flex;
            align-items: center;
            gap: 1.2rem;
        }
    }
}