@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    outline: none !important;
}

body {
    background: #FBFCFD;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 0 1.5rem;
}

.router-link-active,
.router-link-exact-active {
    background: #E3F2FD80;
    color: #0054FF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    color: #344054 !important;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 1.6rem !important;
    font-weight: inherit;
    line-height: 120%;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

@import './components/nav.css';
@import './components/UsersStatistics/stats.scss';
@import './components/UsersFormRequest/UsersMail.scss';
@import './components/Constructor/Constructor.scss';
@import "/node_modules/swiper/swiper.css"
