.security {
    max-width: inherit;
    width: inherit;
}

.security {
    border: .1rem solid #e5e5e5;

    &-title {
        font-size: 2rem;
        line-height: 3rem;
        font-weight: 500;
        padding: 2.4rem;
        padding-bottom: 1.6rem;
        border-bottom: .1rem solid #e5e5e5;
    }

    &-datas {
        padding: 0 2.4rem;
    }

    &-data {
        display: flex;
        flex-direction: column;
        row-gap: .5rem;
        padding: 1.6rem 0;
        position: relative;

        &:not(:last-of-type) {
            border-bottom: .1rem solid #e5e5e5;
        }

        &-name {
            color: #000000DE;
            font-size: 1.6rem;
            line-height: 3rem;
            font-weight: 550;
        }

        &-info {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & img {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(0, -50%);

            }
        }
    }
}


.user {
    &-parameters {
        max-width: 35.4rem;
        width: 100%;
    }

    &-history {
        width: 100%;
        max-width: 100%;
    }
}

.info {
    &-container {
        display: flex;
        justify-content: space-between;
        gap: 3.2rem;
    }
}

.history {
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    &-container {
        border: .1rem solid #e5e5e5;
    }

    &-title {
        font-size: 2rem;
        font-weight: 500;
        line-height: 3rem;
        letter-spacing: .015000000596046448rem;
        padding: 2.4rem;
        padding-bottom: 1.6rem;
    }

    &-table {
        width: 100%;
        padding: 1.6rem 2.4rem 0;

        &-body,
        &-head {
            width: 100%;
        }

        &-head {
            background: #e8e8e9;

            &-item {
                font-size: 1.4rem;
                line-height: 3rem;
                font-weight: 500;
                color: #6F727A;
                text-align: center;
            }
        }

        &-body {
            transition: 300ms;
            cursor: pointer;

            &:hover {
                transform: scale(1.01);
                box-shadow: 0 0 .4rem #00000030;
            }

            &:not(:last-of-type) {
                border-bottom: .1rem solid #e5e5e5;
            }

            &-item {
                font-size: 1.4rem;
                line-height: 2.2rem;
                font-weight: 500;
                color: #000000DE;
                padding: 1.6rem 0;
                transition: 300ms;

                &:hover {
                    color: #000000;
                }
            }
        }
    }
}